@using Entities

@{
    ViewData["Title"] = "Level Map";
    Layout = "_Layout";
    var completedLevels = ViewBag.CompletedLevels as List<EnrolledLevels> ?? new List<EnrolledLevels>();
    var inProgressLevels = ViewBag.InProgressLevels as List<EnrolledLevels> ?? new List<EnrolledLevels>();
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/mapPage_css/mapPage.css">
    <link rel="stylesheet" href="~/mainPage_css/mainPage.css">
    @* <link rel="stylesheet" href="~/LeaderBoard_css/Leaderboard.css"> *@
    <title>Level Map</title>
</head>

<body>

<!--Навігаційне меню-->
<div class="container">
    <nav class="leftContent">
        <ul class="leftNavMenu">
            <li class="navButtons" id="activebtn"><a asp-controller="ProgressMap" asp-action="Map"> Карта </a></li>
            <li class="navButtons"><a href="#"> Батл </a></li>
            <li class="navButtons"><a href="#" target="_blank"> Магазин </a></li>
            <li class="navButtons"><a href="#" target="_blank"> Тести </a></li>
            <li class="navButtons"><a asp-controller="LeaderBoard" asp-action="Leaderboard"> Таблиця
                    лідерів </a></li>
        </ul>
    </nav>


    <!--Острови з завданнями-->
    <div class="firstLvl">
        <div class="firstIsland">
            <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_IntroductionLevel"
               class="@(completedLevels.Any(l => l.LevelTopicName == "CG_IntroductionLevel") ? "completed" :
                      inProgressLevels.Any(l => l.LevelTopicName == "CG_IntroductionLevel") ? "in-progress" : "")">
                <img src="~/images/icons_mapPage/island_FirstLvl.png" alt="islandFirstLvl" class="islandFirstLvl">
                <img src="~/images/icons_mapPage/location.png" alt="location" class="islandLocationFirst">
            </a>
        </div>
    </div>

    <div class="secondLvl">
        <div class="secondIsland">
            <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level2"
               class="@(completedLevels.Any(l => l.LevelTopicName == "CG_Level2") ? "completed" :
                      inProgressLevels.Any(l => l.LevelTopicName == "CG_Level2") ? "in-progress" : "")">
                <img src="~/images/icons_mapPage/island_SecondLvl.png" alt="islandSecondLvl" class="islandSecondLvl">
                <img src="~/images/icons_mapPage/location.png" alt="location" class="islandLocationSecond">
            </a>
        </div>
    </div>

    <div class="thirdLvl">
        <div class="thirdIsland">
            <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level3"
               class="@(completedLevels.Any(l => l.LevelTopicName == "CG_Level3") ? "completed" :
                      inProgressLevels.Any(l => l.LevelTopicName == "CG_Level3") ? "in-progress" : "")">
                <img src="~/images/icons_mapPage/island_ThirdLvl.png" alt="islandThirdLvl" class="islandThirdLvl">
                <img src="~/images/icons_mapPage/location.png" alt="location" class="islandLocationThird">
            </a>
        </div>
    </div>

    <div class="fourthLvl">
        <div class="fourthIsland">
            <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level4"
               class="@(completedLevels.Any(l => l.LevelTopicName == "CG_Level4") ? "completed" :
                      inProgressLevels.Any(l => l.LevelTopicName == "CG_Level4") ? "in-progress" : "")">
                <img src="~/images/icons_mapPage/island_FourthLvl.png" alt="islandFourthLvl" class="islandFourthLvl">
                <img src="~/images/icons_mapPage/location.png" alt="location" class="islandLocationFourth">
            </a>
        </div>
    </div>
    @* <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level5" *@
    @*     class="@(completedLevels.Any( l => l.LevelTopicName == "CG_Level5") ? "completed" : *@
    @*     inProgressLevels.Any(l => l.LevelTopicName == "CG_Level5") ? "in-progress" : "")"> *@
    @*     Level 5 *@
    @* </a> *@
</div>


<!--Модальне вікно для островів-->

<div class="modalWindow" id="modalWindow">
    <button class="close-btn" onclick="closeSidebar()">×</button>
    <div class="modalWindowContent">
        <h1>Перший рівень</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad eos iure, magnam pariatur quod tempore
            vel. Ad commodi consequatur dicta, ea error ex explicabo, ipsum iusto odio omnis sunt!</p>
        
        <div class="acceptButton">
            <h2>Розпочати рівень</h2>
        </div>
    </div>

</div>




<script src="js/mapPage_js/mapPage.js"></script>
</body>

</html>
