@using Entities
@model Entities.User?

@{
    ViewData["Title"] = "Frame Forge";
    Layout = "_Layout";

    var isTeacher = Model?.GetType() == typeof(Teacher);
    
    var exercises = ViewBag.Exercises as Dictionary<string, List<Exercise>> ?? new Dictionary<string, List<Exercise>>();
    var exercisesList = ViewBag.Exercises as List<Exercise> ?? new List<Exercise>();
}


<!DOCTYPE html>
<html>

<head>
    <title>Frame Forge</title>
    <link rel="stylesheet" href="~/mainPage_css/mainPage.css">
    <style>
    </style>
</head>

<body>
    <!--Навігаційне меню-->
    <div class="container">
        <nav class="leftContent">
            <ul class="leftNavMenu">
                @if (isTeacher)
                {
                    <li class="navButtons"><a asp-controller="Group" asp-action="GroupsOverview"> Мої Групи </a></li>
                    <li class="navButtons"><a asp-controller="Exercise" asp-action="CreateExercise"> Створити Завдання </a></li>
                }
                else
                {
                    <li class="navButtons"><a asp-controller="ProgressMap" asp-action="Map"> Карта </a></li>
                    <li class="navButtons"><a href="#"> Батл </a></li>
                    <li class="navButtons"><a href="#" target="_blank"> Магазин </a></li>
                }
                <li class="navButtons"><a href="#" target="_blank"> Тести </a></li>
                <li class="navButtons"><a asp-controller="LeaderBoard" asp-action="Leaderboard"> Таблиця лідерів </a></li>
            </ul>
        </nav>

        @if (isTeacher)
        {
            @foreach (var group in exercises)
            {
                <div class="task">
                    <h1>@group.Key</h1>
                    <ul class="bodyOfTask">
                        @foreach (var exercise in group.Value)
                        {
                            <li class="taskCard">
                                <div class="TaskHeader">
                                    <h2>@exercise.ExerciseName</h2>
                                    <span class="lvlMode @exercise.ExererciseDifficulty.ToLower()">
                                        @exercise.ExererciseDifficulty
                                    </span>
                                </div>
                                <div class="taskDiscription">
                                    <p>@exercise.ExerciseRequirements</p>
                                </div>
                                <div class="points">
                                    <div class="starPoint">
                                        StarPoint: +@exercise.StarsReward
                                        <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"/>
                                    </div>
                                    <div class="moneyForTask">
                                        Money For Task: +@exercise.MoneyReward
                                        <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"/>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="task">
                <h1>@ViewBag.GroupName</h1>
                <ul class="bodyOfTask">
                    @foreach (var exercise in exercisesList)
                    {
                        <li class="taskCard">
                            <div class="TaskHeader">
                                <h2>@exercise.ExerciseName</h2>
                                <span class="lvlMode @exercise.ExererciseDifficulty.ToLower()">
                                    @exercise.ExererciseDifficulty
                                </span>
                            </div>
                            <div class="taskDiscription">
                                <p>@exercise.ExerciseRequirements</p>
                            </div>
                            <div class="points">
                                <div class="starPoint">
                                    StarPoint: +@exercise.StarsReward
                                    <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"/>
                                </div>
                                <div class="moneyForTask">
                                    Money For Task: +@exercise.MoneyReward
                                    <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"/>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</body>

</html>
