@model Entities.Student?

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @if (@Model != null)
    {
        <h1 style="font-size: 32px">Hello: @Model.Username</h1>
        <h2 style="font-size: 32px">Hello: @Model.Email</h2>
        <img src="@Model.Picture" alt="Profile Picture" width="96" height="96" style="border-radius: 50%;" />
        <h3 style="font-size: 32px">GoogleId: @Model.GoogleId</h3>
        <h3 style="font-size: 32px">MoneyAmount: @Model.MoneyAmount</h3>
        <h3 style="font-size: 32px">StarsAmount: @Model.StarsAmount</h3>
    }
    else
    {
        <h1 style="font-size: 32px"></h1>
        <h2 style="font-size: 32px"></h2>
    }
</div>
</body>
</html>