@model Entities.Algorithm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <style>
        @Html.Raw(@Model.AlgorithmCss);
    </style>
</head>
<body>
@Html.Raw(@Model.AlgorithmHtml);
</body>
<script>
    @Html.Raw(@Model.AlgorithmJs);
</script>
</html>